{% extends 'base.html' %}
{% load static %}

{% block title %}Início do Quiz{% endblock %}

{% block content %}
<div style="text-align: center;">
  <img src="{% static 'img/flamesertao.png' %}" alt="Logo Flame Sertão" style="width: 100px; margin-bottom: 10px; border-radius: 8px;">
</div>
<div class="index-container">
  <h1>📖 Quiz Bíblico - Flame Sertao</h1>
    <center>
  <p>Bem-vindo ao Quiz Flame! <br>
  </center>
    Teste seus conhecimentos sobre as cartas de Paulo com perguntas cuidadosamente selecionadas.</p>

  <p>Cada acerto vale 10 pontos. Ao final, veja sua pontuação e entre no ranking dos melhores!</p>

  <div class="botoes-centro">
    <a href="{% url 'pergunta' 1 %}">
      <button class="botao-responder">Começar o Quiz</button>
    </a>
  </div>
</div>
{% endblock %}
